---
import { Icon } from 'astro-icon/components';
const { feedEntry } = Astro.props;

---

<div class="flex col-auto w-full break-inside-avoid-column">
    <div class="flex-1 bg-slate-100 shadow-lg rounded-lg max-w-md md:max-w-2xl relative hover:bg-white">
        <!-- <button class="absolute w-5 -left-2 -top-2"><Icon name="circle-info-solid" class="fill-gray-400 hover:fill-sky-900" /></button> -->
        <a href={`/feedarchive-${feedEntry.data.mediaType}/`} class="inline-block ml-4 mb-2 absolute bottom-5 right-5 w-6"><Icon name={`${feedEntry.data.mediaType}`} class="fill-gray-400 hover:fill-sky-900" /></a>
        <div class="items-start p-5 w-full h-full">
            <a href={`/feed/${feedEntry.slug}/`}><img class="object-cover mb-4" src={`${feedEntry.data.thumbnail}`} alt="media"></a>
            <div class="w-full">
                <div class="items-center justify-between">
                    <h2 class="text-sm font-semibold text-gray-900 -mt-1"><a href={`/feed/${feedEntry.slug}/`} class="text-gray-900 hover:text-sky-900">{feedEntry.data.title}</a></h2>    
                </div>
                <p class="text-sm text-gray-400 mb-3">{feedEntry.data.subtitle}</p>
            </div>
        </div>
    </div>
</div>


