---
import { Icon } from 'astro-icon';

const { feedEntry } = Astro.props;

import { getCollection } from "astro:content";
let allFeedPosts = await getCollection('feed');
allFeedPosts.sort((a, b) => {
   return a.data.pubDate - b.data.pubDate;
});
let lastThreePosts = allFeedPosts.slice(-3);
lastThreePosts.sort((a, b) => {
   return b.data.pubDate - a.data.pubDate;
});
---

{lastThreePosts.map(feedEntry => (
   <div class="flex col-auto w-full">
      <div class="flex-1 bg-slate-100 shadow-lg rounded-lg mx-4 md:mx-auto max-w-md md:max-w-2xl relative hover:bg-white">
         <a href={`/feedarchive-${feedEntry.data.mediaType}/`} class="inline-block ml-4 mb-2 absolute top-5 right-5 w-6"><Icon name={`${feedEntry.data.mediaType}`} class="fill-gray-400 hover:fill-sky-900" /></a>
         <div class="items-start p-5 w-full h-full">
            <a href={`/feed/${feedEntry.slug}/`}><img class="h-24 object-cover mb-4" src={`${feedEntry.data.thumbnail}`} alt="media"></a>
            <div class="w-full">
               <div class="items-center justify-between">
                  <h2 class="text-sm font-semibold text-gray-900 -mt-1"><a href={`/feed/${feedEntry.slug}/`} class="text-gray-900 hover:text-sky-900">{feedEntry.data.title}</a></h2>    
               </div>
               <p class="text-sm text-gray-400 mb-3">{feedEntry.data.subtitle}</p>
            </div>
         </div>
      </div>
   </div>
))}